* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(); }

body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template: 100px auto 100px/300px repeat(2, 1fr);
  grid-template-areas: "header main main" "header main main" "header footer footer"; }

header {
  grid-area: header;
  background-color: aqua; }

main {
  grid-area: main;
  background-color: white; }

footer {
  grid-area: footer;
  background-color: orangered; }

header a {
  padding: 10px 20px 10px 20px; }

header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  gap: 20px; }
  header nav ul li a {
    text-decoration: none;
    color: black; }

.nav li {
  list-style: none;
  gap: 30px; }

main h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px; }

main div fieldset legend {
  text-align: center;
  margin: 10px 0px 10px 0px; }

main div fieldset input {
  display: flex;
  flex-direction: row;
  justify-content: end; }

main div label {
  display: flex;
  justify-content: center;
  text-align: center; }

footer section a {
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-decoration: none;
  margin: 20px 10px 20px 10px;
  gap: 10px;
  flex-wrap: wrap;
  color: black; }
