* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(); }

body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template: 100px auto 100px/300px repeat(2, 1fr);
  grid-template-areas: "header main main" "header main main" "header footer footer"; }

header {
  grid-area: header;
  background-color: aqua; }

main {
  grid-area: main;
  background-color: white; }

footer {
  grid-area: footer;
  background-color: orangered; }

header a {
  padding: 10px 20px 10px 20px; }

header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  gap: 20px; }
  header nav ul li a {
    text-decoration: none;
    color: black; }

.nav li {
  list-style: none;
  gap: 30px; }

main h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px; }

main ul li {
  list-style: none; }

footer section a {
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-decoration: none;
  margin: 20px 10px 20px 10px;
  gap: 10px;
  flex-wrap: wrap;
  color: black; }

/*function parametros(parametro1, parametro2, parametro3) {
    alert("biembenidos" + "" + "a" + "" + "emporio siestas");
}


let promoFiesta = parseInt(prompt("ingrese sus promos a comprar"));

//se solicita al cliente que ingrese un numero

if (isNaN(promoFiesta)) {

    alert("por favor ingrese un numero")

}

//en caso de que ingrese el numero 0 no deja seguir la operacion

else if (promoFiesta < 0) {

    alert("por favor, ingrese un numero > 0")

}

else {

    let totalDeCompra = 0;
    let listaDeProductosSeleccionados = "";

//se le solicita al cliente cuantos productos quiere comprar

    for (let i = 0; i < promoFiesta; i++) {

        let producto = parseInt(prompt("ingrese el numero de promo"));


        if (producto == 1) {

            listaDeProductosSeleccionados += "promo cumple 1 - $5500" + "<br>";
            totalDeCompra += 5500;

        }
        else if (producto == 2) {

            listaDeProductosSeleccionados += "promo cumple 2 - $6800" + "<br>";
            totalDeCompra += 6800;
        }
        else if (producto == 3) {

            listaDeProductosSeleccionados += "promo cumple 3 - $6800" + "<br>";
            totalDeCompra += 6800;
        }
        else if (producto == 4) {

            listaDeProductosSeleccionados += "promo cumple 4 - $6700" + "<br>";
            totalDeCompra += 6700;
        }

// en caso de que ingrese un producto que no esta en la lista me muestra un mensaje

        else {

            alert("producto no encontrado")
        }


    }

// me muestra en el index los datos seleccionados

    document.write("lista de articulos seleccionados :<br> " + listaDeProductosSeleccionados + "<br>");
    document.write("el total de la compra es : $ " + totalDeCompra);

}*/
